.root {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
}
@supports(padding: max(0px)) {
    .root {
		padding:
			max(10px, env(safe-area-inset-top))
			max(10px, env(safe-area-inset-right))
			max(10px, env(safe-area-inset-bottom))
			max(10px, env(safe-area-inset-left));
    }
}