.root {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.top {
	height: 130px;
	max-height: 130px;
	width: 100%;
	margin-bottom: 10px;
	display: flex;
	justify-content: space-between;
}
.nextBlock {
	height: 100%;
	width: 120px;
}
.scoreBoard {
	height: 100%;
	width: 120px;
}
.scoreBoard > table {
	height: 100%;
}
.scoreBoard > table td {
	padding-top: unset;
	padding-bottom: unset;
}
.buttons {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.bottom {
	max-width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
