.root {
	width: 100%;
	border-width: 1px;
	border-style: solid;
	border-collapse: collapse;
	padding: 10px;
	display: flex;
	flex-direction: column;
}
.root > p {
	display: block;
	margin-bottom: 10px;
}
.root > div {
	display: flex;
	justify-content: center;
	align-items: center;
}
.root svg {
	display: block;
}