.root {
	background: rgb(97,117,135);
	background: linear-gradient(135deg, rgba(97,117,135,1) 0%, rgba(0,0,0,1) 80%);
	padding: 10px;
	display: flex;
	flex-direction: column;
}
.root > p {
	display: block;
	margin-bottom: 10px;
}
.root > div {
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}
.root svg {
	display: block;
}