.root {
	min-width: 120px;
}
.score {
	width: 100%;
	background: rgb(97,117,135);
	background: linear-gradient(135deg, rgba(97,117,135,1) 0%, rgba(0,0,0,1) 80%);
}
.score td {
	padding: 10px;
}
.score tr + tr td {
	padding-top: 0;
}
.score td + td {
	padding-left: 0;
}
.score td:last-child {
	text-align: right;
}
