.root {
}
.score {
	width: 100%;
	border-width: 1px;
	border-style: solid;
	border-collapse: collapse;
}
.score td {
	padding: 10px;
}
.score tr + tr td {
	padding-top: 0;
}
.score td:first-child {
}
.score td:last-child {
	text-align: right;
}
