.root {
}
.colorInput {
	width: 150px !important;
}
.colorInput input {
	padding: initial !important;
}
.pointDefs {
	width: 0;
	height: 0;
	overflow: hidden;
}
.content {
	display: flex;
}
.content .left {
	margin-right: 30px;
}
.content .right {
	flex: 1;
}
