.root {
}
.pointDefs {
	width: 0;
	height: 0;
	overflow: hidden;
}
.color {
}
.key {
}
.blocks {
	overflow-x: auto;
	overflow-y: hidden;
	height: 170px;
	display: flex;
}
.block {
	flex-shrink: 0;
	width: 150px;
	height: 150px;
	margin-right: 10px;
}
.block > button {
	width: 100%;
	height: 100%;
	position: relative;
	padding: 10px;
}
.block.addBlock > button {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.block.addBlock > button > i {
	margin: 0 0 10px 0 !important;
}
.blocks.colors {
	height: 80px;
}
.blocks.colors .block {
	height: 60px;
}
.block .color {
	position: absolute;
	width: 30px;
	height: 30px;
}
.link {
	background-color: transparent;
	border: none;
	cursor: pointer;
	text-decoration: none;
	display: inline;
	outline: none;
	color: #1e70bf;
	margin: 0;
	padding: 0;
}
